################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/District 3 App/.vs/District 3 App/FileContentIndex
'application/cache' 
Statistics/.vs/Statistics/FileContentIndex/51a55031-357c-43a8-9a0e-b79a01a403d2.vsidx
*.vsidx