################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Repo/FileContentIndex/a9902dbd-c65b-49aa-831e-2c1a82dcf311.vsidx
/lab4/.vs/lab4/FileContentIndex/d964e44d-f44b-4f0d-9f76-e9769e5fb700.vsidx
